<div class="container">
    <div class="card">
        <div class="card-header">
            <h2 class="card-title">{{title_name|default('Ajouter un contact')}}</h2>
        </div>
        <div class="card-body">
            {{ form_start(contactForm, {'attr': {'class': 'form'}}) }}
                <div class="mb-3">
                    {{ form_row(contactForm.firstname, {'attr': {'class': 'form-control', 'placeholder': 'Prénom'}}) }}
                </div>
                <div class="mb-3">
                    {{ form_row(contactForm.lastname, {'attr': {'class': 'form-control', 'placeholder': 'Nom'}}) }}
                </div>
                <div class="mb-3">
                    {{ form_row(contactForm.mail, {'attr': {'class': 'form-control', 'placeholder': 'Adresse email'}}) }}
                </div>
                <div class="mb-3">
                    {{ form_row(contactForm.phonenumber, {'attr': {'class': 'form-control', 'placeholder': 'Numéro de téléphone'}}) }}
                </div>
                <div class="mb-3">
                    {{ form_row(contactForm.category, {'attr': {'class': 'form-select'}}) }}
                </div>
                <div class="mb-3">
                    {{ form_row(contactForm.image, {'attr': {'class': 'form-control', 'placeholder': 'Sélectionnez une image'}}) }}
                </div>
                <button type="submit" class="btn btn-info"> {{ button_name|default('Ajouter') }}</button>
            {{ form_end(contactForm) }}
        </div>
    </div>
</div>
